[Unit]
Description=Run anki updates for special media deck
OnFailure=system-notify@%i.service

[Service]
ExecStart=/home/owen/.local/bin/update_sm_memorize

[Install]
WantedBy=multi-user.target
