[Unit]
Description=Updates a specialize anki deck with recently viewed media

[Timer]
#OnCalendar=*:0/10
OnCalendar=daily

Persistent=true

[Install]
WantedBy=timers.target
